* {
  padding: 0;
  margin: 0;
  font-family: "Reddit Mono", monospace;
}

body {
  background-color: #fafafa;
  color: #000;
  transition: background 0.2s linear, color 0.2s linear;
}

body.dark {
  background-color: #11151a;
  color: #fafafa;
}

body.dark pre > code.language-csharp {
  background-color: #444;
  color: #f8f8f2;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 10px;
  padding: 0;
  border-radius: 4px;
  margin-top: -5px;
}

.dropdown-content li {
  list-style: none;
  border-radius: 4px;
}

.dropdown-content li a {
  color: #8954bb;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 4px;
}

.dropdown-content li a:hover {
  background-color: #f1f1f1;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 16px;
  width: 40px;
  transform: scale(1.5);
}

.label .bola {
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .bola {
  transform: translateX(24px);
}

.fa-moon {
  color: white;
}

.fa-sun {
  color: white;
}

.containerLogin {
  width: 35%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 10px 0 #8954bb;
  border-radius: 20px;
  margin: 20px;

  & > h3 {
    display: flex;
    flex-direction: column;
    margin: 10px;

    & > a {
      color: #8954bb;
    }

    & > input {
      width: 25vw;
      height: 30px;
      border: none;
      box-shadow: 0 0 5px 0 #8954bb;
      border-radius: 10px;
      padding: 10px;
      font-size: 20px;
    }
  }

  & > .cadastro {
    color: #8954bb;
  }

  & > button {
    background-color: #8954bb;
    border: none;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 0 10px 0 #8954bb;
    width: 25vw;
    transition: 1s;
    font-size: 20px;
  }

  & > button:hover {
    cursor: pointer;
    background-color: white;
    color: #000;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #8954bb;
  align-items: center;
  height: 5vh;
  padding: 20px;

  & > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    & > img {
      height: 5vh;
    }
    & > h1 {
      color: #fff;
    }
  }

  & > ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    & > h3 {
      font-size: 16px;
      & > li {
        list-style: none;
        padding: 10px;
        & > a {
          display: block;
          padding: 20px;
          text-transform: uppercase;
          transition: 0.5s;
          color: #fff;
          text-decoration: none;
          padding: 30px;
        }
        & > a:hover {
          background-color: #fff;
          color: #8954bb;
        }
      }
    }
  }
}

.tela {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;

  & > .tela80 {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    & > h1 {
      font-size: 25px;
      color: #8954bb;
      margin: 20px;
    }
    & > .paragrafo {
      display: flex;
      flex-direction: column;
      width: 100%;
      & > p {
        font-size: 20px;
      }
    }
    & > textarea {
      margin: 20px;
      display: flex;
      width: 500px;
      height: 250px;
      background-color: #000;
      color: #fff;
      padding: 20px;
      border-radius: 20px;
    }
  }
}

.imgInicial {
  width: 50%;
  height: auto;
}

.imagemProg {
  display: flex;
  justify-content: center;
  background-color: #191919;
}

.navDesen {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #8954bb;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  margin-bottom: 20px;
  width: 100%;
}

.navbar-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.developer-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.developer {
  text-align: center;
  color: #fff;
}

.developer img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 3px solid #fff;
}

.developer-name {
  margin-top: 5px;
  font-size: 14px;
}

pre > .language-csharp {
  background-color: #2d2d2d;
  color: #f8f8f2;
  display: block;
  padding: 30px;
  border-radius: 5px;
  overflow-x: auto;
  font-size: 14px;
  margin-bottom: 30px;
}
.video {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  & > section > iframe {
    width: 500px;
    height: 300px;
    margin: 20px;
  }
}

.pagNome {
  font-size: 35px;
  margin: 20px;
}

.textos {
  width: 100%;
  & > h2 {
    font-size: 30px;
  }
  & > p {
    margin: 20px;
    font-size: 20px;
  }
  & > ul {
    font-size: 20px;
    margin: 20px;
  }
}

.rodape {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #8954bb;
  color: #fff;
  width: 100%;
  height: 20vh;

  & > p {
    padding: 10px;
  }
}

.jogoTudo {
  display: flex;
  flex-direction: row;
}

.menuEsquerda {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 100vh;
  align-items: center;
  background-color: #5b5066;
}

.imgJogo > img {
  width: 160px;
  height: 160px;
  border: 3px solid #fff;
  border-radius: 50%;
  margin-top: 20px;
}

.configuracaoJogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > a > button {
    background-color: #8954bb;
    border: none;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 0 10px 0 #8954bb;
    transition: 1s;
    font-size: 20px;
    width: 200px;
  }

  & > a > button:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;
  }
}

.JogarBtn {
  width: 250px !important;
  height: 80px;
}

.jogoDireita {
  width: 85%;
  height: 100vh;
}

.cimaJogo {
  background-color: #5b5066;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 10%;
}

.cimaJogo > img {
  width: 80px;
}

.personagem {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 90%;
}

.personagem > .loja {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 10%;
  box-shadow: 0 0 10px 0 #5b5066;
}

#loja {
  overflow: hidden; /* Esconde o conteúdo durante a transição */
  opacity: 0; /* Transparência inicial */
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out; /* Transições suaves */
}

#loja.aberto {
  opacity: 1; /* Totalmente visível */
}

.personagem > .loja > button {
  width: 100%;
}

.personagem > .loja > button > img {
  width: 100%;
}

.personagemImg {
  display: flex;
  justify-content: center;
  margin: 20px;
  width: 50%;
  height: auto;
  border: 3px solid #5b5066;
}

.personagemImg > img {
  height: 100%;
}

.dinheiro {
  display: flex;
  margin: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.dinheiro > h3 {
  border: 3px solid #5b5066;
  font-size: 20px;
  width: 100px;
  display: flex;
  flex-direction: row;
  background-color: #8954bb;
  padding: 10px;
  color: #fff;
  align-items: center;
  justify-content: space-between;

  & > p {
    text-align: center;
    width: 50px;
  }

  & > img {
    width: 50px;
  }
}

#toggleLoja {
  background-color: #8954bb;
  border: none;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 0 10px 0 #8954bb;
  transition: 1s;
  font-size: 20px;
  width: 200px;
}

#toggleLoja:hover {
  cursor: pointer;
  background-color: #fff;
  color: #000;
}

#trilhasTAD {
  overflow: hidden; /* Esconde conteúdo durante a transição */
  max-height: 0; /* Altura inicial escondida */
  opacity: 0; /* Transparência inicial */
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out; /* Transição suave */
}
#trilhasTAD.aberta {
  max-height: 300px; /* Altura para mostrar a lista, ajuste conforme necessário */
  opacity: 1; /* Totalmente visível */
}

#trilhasLSE {
  overflow: hidden; /* Esconde conteúdo durante a transição */
  max-height: 0; /* Altura inicial escondida */
  opacity: 0; /* Transparência inicial */
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out; /* Transição suave */
}
#trilhasLSE.aberta {
  max-height: 300px; /* Altura para mostrar a lista, ajuste conforme necessário */
  opacity: 1; /* Totalmente visível */
}

#trilhasLDE {
  overflow: hidden; /* Esconde conteúdo durante a transição */
  max-height: 0; /* Altura inicial escondida */
  opacity: 0; /* Transparência inicial */
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out; /* Transição suave */
}
#trilhasLDE.aberta {
  max-height: 300px; /* Altura para mostrar a lista, ajuste conforme necessário */
  opacity: 1; /* Totalmente visível */
}

#trilhasFIFO {
  overflow: hidden; /* Esconde conteúdo durante a transição */
  max-height: 0; /* Altura inicial escondida */
  opacity: 0; /* Transparência inicial */
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out; /* Transição suave */
}
#trilhasFIFO.aberta {
  max-height: 300px; /* Altura para mostrar a lista, ajuste conforme necessário */
  opacity: 1; /* Totalmente visível */
}

#trilhasPri {
  overflow: hidden; /* Esconde conteúdo durante a transição */
  max-height: 0; /* Altura inicial escondida */
  opacity: 0; /* Transparência inicial */
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out; /* Transição suave */
}
#trilhasPri.aberta {
  max-height: 300px; /* Altura para mostrar a lista, ajuste conforme necessário */
  opacity: 1; /* Totalmente visível */
}

#trilhasPil {
  overflow: hidden; /* Esconde conteúdo durante a transição */
  max-height: 0; /* Altura inicial escondida */
  opacity: 0; /* Transparência inicial */
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out; /* Transição suave */
}
#trilhasPil.aberta {
  max-height: 300px; /* Altura para mostrar a lista, ajuste conforme necessário */
  opacity: 1; /* Totalmente visível */
}

.trilhaUL {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.buttonBloqueado:hover {
  opacity: 0.8;
  cursor: pointer;
  background-color: #444 !important;
  color: #9c9c9c !important;
}

.trilhaUL > button {
  background-color: #8954bb;
  border: none;
  padding: 20px;
  margin-top: 10px;
  /* margin-bottom: 10px; */
  color: #fff;
  box-shadow: 0 0 10px 0 #8954bb;
  transition: 1s;
  font-size: 20px;
  width: 90%;
}

.trilhaUL > button:hover {
  border-radius: 10px;
  cursor: pointer;
  background-color: #fff;
  color: #000;
}

.trilhasTudo {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.trilhaUL > div {
  width: 90%;
  box-shadow: 0 0 10px 0 #8954bb;
  background-color: #8954bb;
}

.trilhaUL > div > form{
  display: flex;
  flex-direction: column;
}

.trilhaUL > div > form > button{
  border: none;
  background-color: transparent;
}

.trilhaUL > div > form > button > li {
  /* background-color: #8954bb; */
  font-size: 20px;
  padding: 10px;
  color: #fff;
  transition: 0.5s;
  display: flex;
  justify-content: space-between;
}

.trilhaUL > div > form > button > li:hover {
  background-color: #fff;
  color: #8954bb;
  cursor: pointer;
}
