* {
  padding: 0;
  margin: 0;
  font-family: "Reddit Mono", monospace;
}

body {
  background-color: #fafafa;
  color: #000;
  transition: background 0.2s linear, color 0.2s linear;
}

body.dark {
  background-color: #11151a;
  color: #fafafa;
}

body.dark pre > code.language-csharp {
  background-color: #444;
  color: #f8f8f2;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 16px;
  width: 40px;
  transform: scale(1.5);
}

.label .bola {
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .bola {
  transform: translateX(24px);
}

.dropdown li{
  display: block;
}

.dropdown{
  width: 100%;
  background-color: #8954bb;
  position: absolute;
  z-index: 999;
  display: none;
}

.fa-moon {
  color: white;
}

.fa-sun {
  color: white;
}

.containerLogin {
  width: 35%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 10px 0 #8954bb;
  border-radius: 20px;
  margin: 20px;

  & > h3 {
    display: flex;
    flex-direction: column;
    margin: 10px;

    & > a{
      color: #8954bb;
    }

    & > input {
      width: 25vw;
      height: 30px;
      border: none;
      box-shadow: 0 0 5px 0 #8954bb;
      border-radius: 10px;
      padding: 10px;
      font-size: 20px;
    }
  }

  & > .cadastro{
    color: #8954bb;
  }

  & > button{
    background-color: #8954bb;
    border: none;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 0 10px 0 #8954bb;
    width: 25vw;
    transition: 1s;
    font-size: 20px;
  }

  & > button:hover{
    cursor: pointer;
    background-color: white;
    color: #000;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #8954bb;
  align-items: center;
  height: 5vh;
  padding: 20px;

  & > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    & > img {
      height: 5vh;
    }
    & > h1 {
      color: #fff;
    }
  }

  & > ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    & > h3 {
      font-size: 16px;
      & > a {
        display: block;
        padding: 20px;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        transition: 0.5s;
        & > li {
          list-style: none;
          padding: 10px;
        }
      }
      & > a:hover {
        background-color: #fff;
        color: #8954bb;
      }
    }
  }
}

.tela {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;

  & > .tela80 {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    & > h1 {
      font-size: 25px;
      color: #8954bb;
      margin: 20px;
    }
    & > .paragrafo {
      display: flex;
      flex-direction: column;
      width: 100%;
      & > p {
        font-size: 20px;
      }
    }
    & > textarea {
      margin: 20px;
      display: flex;
      width: 500px;
      height: 250px;
      background-color: #000;
      color: #fff;
      padding: 20px;
      border-radius: 20px;
    }
  }
}

.imgInicial {
  width: 50%;
  height: auto;
}

.imagemProg {
  display: flex;
  justify-content: center;
  background-color: #191919;
}

.navDesen {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #8954bb;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  margin-bottom: 20px;
  width: 100%;
}

.navbar-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.developer-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.developer {
  text-align: center;
  color: #fff;
}

.developer img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 3px solid #fff;
}

.developer-name {
  margin-top: 5px;
  font-size: 14px;
}

pre > .language-csharp {
  background-color: #2d2d2d;
  color: #f8f8f2;
  display: block;
  padding: 30px;
  border-radius: 5px;
  overflow-x: auto;
  font-size: 14px;
  margin-bottom: 30px;
}
.video {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  & > section > iframe {
    width: 500px;
    height: 300px;
    margin: 20px;
  }
}

.pagNome {
  font-size: 35px;
  margin: 20px;
}

.textos {
  width: 100%;
  & > h2 {
    font-size: 30px;
  }
  & > p {
    margin: 20px;
    font-size: 20px;
  }
  & > ul {
    font-size: 20px;
    margin: 20px;
  }
}

.rodape {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #8954bb;
  color: #fff;
  width: 100%;
  height: 20vh;

  & > p {
    padding: 10px;
  }
}
